/* sets the background to linear graident from top to bottom*/
body{
	background-image: linear-gradient(to bottom,violet,blue);
	/* to ensure it covers the full screen*/
	margin:0;
	padding:0;
	min-height:150vh;
}


nav{
	width:95%;
	height:75px;
	background-color:lightblue;
}

nav ul li{
	color:black;
	Font-size:30px;
	list-style-type:none;
	float: left; 
}

nav ul li a{
	color:black;
	text-decoration:none;
	margin:10px;
	padding-top:10px
}
nav ul li a:hover{
	/*color:yellow;*/
	background-color: yellow;